.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.subtitle {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--fw-bold);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--textGreyed);
}

.content {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--white);
  padding: 10px;
}

.footerButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
