.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.subtitleRegular {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--fw-bold);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.content {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--white);
  padding: 10px;
}

.footerButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 36px 0;
}

.textarea {
  width: 100%;
  border: 1px solid var(--buttonDefaultHoverColor);
  border-radius: 3px;
  font-family: var(--font-family);
  padding: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs-base);
  line-height: 22px;
}

.textarea:focus {
  outline: none;
}

.textarea::placeholder {
  color: var(--textGreyed);
}

.textPrevGreyed {
  color: var(--textPrevGreyed);
}
.textBlackPearl {
  color: var(--blackPearl);
}
.textGreyed {
  color: var(--textGreyed);
}
