.header {
  align-items: stretch;
  background-color: var(--lightGrey);
  border-bottom: var(--baseBorder);
  display: flex;
  gap: 2rem;
  padding: 0 var(--baseHorzSpacing);
}

.header h1 {
  font-weight: var(--fw-bold);
}

.header h1,
.header a {
  align-items: center;
  color: var(--copyColor);
  display: flex;
  margin: 0;
}

.header a {
  border-bottom: 3px solid var(--lightGrey);
  margin-bottom: 1px;
  padding-top: 10px;
  text-decoration: none;
}

.active {
  border-bottom: 3px solid var(--primaryColor) !important;
}

.spacer {
  border-right: var(--baseBorder);
  flex: 1;
}

.logout {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logout p {
  margin-bottom: 2px;
}

.logout a {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-top: 0px;
  padding: 0px;
  color: #59636e;
}
